
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: black;
}

div {
  height: 100svh;
  display: grid;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 20vw;
  color: white;
}
